.body {
  background-image: url('https://i.pinimg.com/originals/e2/fb/0b/e2fb0b2ac9b7e82275eacc8c2ee9c846.jpg');
  background-size: cover;
  font-family: Impact , Haettenschweiler , sans-serif;
  padding-top: 30px;

}

.card {
  align-items: center;
  background-color: black;
  border-radius: 15px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 10px;
  padding: 15px;
  width: 100px;
}

.full {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-size: 60px;
  font-weight: 900;
  text-align: center;

}

.planet {
  width: 100px;
}

.missionCard {
  align-items: center;
  background-color: black;
  border-radius: 15px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 200px;
}

.mission {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.destiny {
  color: rgb(216, 118, 13);
  font-weight: 900;
}

